<?xml version="1.0" encoding="utf-8"?>

<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
      See LICENSE in the source repository root for complete license information. -->

<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <InstrumentationKey>93fb9dcb-e47b-42df-9f5c-e273c811a60c</InstrumentationKey>
</ApplicationInsights>